#parent-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #D4F1F4;
    justify-content: center;
}

header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #05445E;
}
header > h1, header > input, header > button {
    margin: 10px;
    /* padding: 10px; */
}

h1 {
    color: #D4F1F4;
    /* font-family: ; */
    font-size: 2em;
}

input {
    color: black;
}

#arraybtn {
    background-color: #8A4FB3;
    color: #F29BFF;
    border: 1px solid #F29BFF;
}

#arraybtn:active {
    background-color: #F29BFF;
    color: #8A4FB3;
    border: 1px solid #8A4FB3;
}

button {
    padding: 10px;
    background-color: #189AB4;
    color: #75E6DA;
    font-size: 1.2em;
    border: 1px solid #75E6DA;
    border-radius: 5px;
}

button:active {
    border: none;
    background-color: #05445E;
    color: #D4F1F4;
}

.array-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
}

.random-div {
    background: #189AB4;
    width: 100%;
    border: 3px solid #75E6DA;
    display: block;

}